/* Generals--------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7em;
  font-family: "Dosis", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header design------------------------ */

.container {
  font-family: "Dosis", sans-serif;
  max-width: 80%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: auto;
}
.elements a {
  color: white;
}

.elements {
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.header_sec {
  text-transform: uppercase;
  color: white;
  height: 100vh;
  background: url(../images/pxfuel.jpg) no-repeat center center/cover;
}
.header_contents {
  padding-top: 10%;
  text-align: center;
}
.otherWords p {
  font-size: 20px;
  margin-bottom: 36px;
}
.otherWords h1 {
  font-size: 80px;
  margin-bottom: 50px;
}
.safa {
  color: rgb(247, 39, 39);
}
.lead {
  font-size: 35px;
}
.btn {
  font-size: 26px;
  display: inline-block;
  color: white;
  padding: 10px 80px;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn:hover {
  color: black;
  background-color: white;
}

.socials {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.socials i {
  height: 20px;
  width: 20px;
}
.items a {
  color: white;
  text-decoration: none;
  border-bottom: 3px transparent solid;
  padding-bottom: 0 0.5 rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
}
.items a:hover {
  background-color: rgba(230, 229, 247, 0.25);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: white;
}

/* Responsiveness Media Queries */

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 90%; /* Adjust container width for smaller screens */
  }

  .header_contents {
    padding-top: 20%; /* Adjust padding for smaller screens */
  }

  .otherWords h1 {
    font-size: 60px; /* Adjust heading size for smaller screens */
  }

  .lead {
    font-size: 28px; /* Adjust lead font size for smaller screens */
  }

  .socials {
    margin-top: 20%; /* Adjust margin for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .otherWords h1 {
    font-size: 40px; /* Further adjust heading size for smaller screens */
  }

  .lead {
    font-size: 20px; /* Further adjust lead font size for smaller screens */
  }

  .socials {
    margin-top: 30%; /* Further adjust margin for smaller screens */
  }
}

/* sidebar starts */

.side_bar a {
  color: white;
}

.side_bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  color: black;
  background-color: rgba(0, 0, 0, 0.188);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu_hamburger {
  display: none;
}

/* navbar items on mobile responsive */

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu_hamburger {
    display: block;
  }
  .otherWords h1 {
    font-size: 3rem; /* Adjust heading size for smaller screens */
  }
}

/* navbar items on mobile responsive full screen */

@media (max-width: 500px) {
  .otherWords h1 {
    font-size: 2rem; /* Adjust heading size for smaller screens */
  }
  .side_bar {
    width: 100%;
  }
}
.SF {
  /* border-radius: 8px; */
  font-size: 30px;
  padding: 5px;
  background-color: rgba(87, 12, 124, 0.606);
  font-family: "Dancing Script", cursive;
}

/* ------------------------------ */
/* My info section */

.container2 {
  font-family: "Dosis", sans-serif;
  max-width: 80%;
  height: 100%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: auto;
}

.aboutInfo {
  color: white;
  height: 100vh;
  background-color: rgba(2, 9, 30, 0.935);
}
.infos h1 {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 50px;
}

.leftSide img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}
.leftSide {
  margin-left: 10%;
}
.intro {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightSide {
  width: 40%;
}
.rightSide h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.rightSide p {
  font-size: 25px;
}

@media (max-width: 780px) {
  .intro {
    text-align: center;
    flex-direction: column;
  }
  .rightSide h2 {
    font-size: 2rem;
  }
  .rightSide p {
    font-size: 15px;
    width: 100%;
  }
  .leftSide {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .intro {
    text-align: center;
    flex-direction: column;
  }
  .rightSide h2 {
    font-size: 20px;
  }
  /*.rightSide p {
    font-size: 15px;
    width: 100%;
  }
  .leftSide {
    margin-left: 0;
  } */
}

@media (max-width: 600px) {
  .rightSide {
    width: 50%;
  }

}

/* -------------------------- */
