/* Generals--------------- */
:root {
  --animation-time: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  font-family: "Dosis", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header design------------------------ */

.container {
  font-family: "Dosis", sans-serif;
  max-width: 80%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: auto;
}
.elements a {
  color: white;
}

.elements {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.header_sec {
  text-transform: uppercase;
  color: white;
  height: 100vh;
  background: url(../images/pxfuel.jpg) no-repeat center center/cover;
}
.header_contents {
  padding-top: 10%;
  text-align: center;
}
.otherWords p {
  font-size: 20px;
  margin-bottom: 36px;
}
.otherWords h1 {
  font-size: 80px;
  margin-bottom: 50px;
}
.safa {
  color: rgb(247, 39, 39);
}
.lead {
  font-size: 35px;
}
.btn {
  font-size: 20px;
  display: inline-block;
  color: white;
  padding: 10px 80px;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

/* transition for Name button */

.otherWords h1 {
  transform: translateY(-1200px);
  animation: nameSafa var(--animation-time) forwards ease-in;
}
@keyframes nameSafa {
  to {
    transform: translateY(0);
  }
}
.otherWords a {
  transform: translateX(-1200px);
  animation: about_btn var(--animation-time) forwards ease-in;
}
@keyframes about_btn {
  to {
    transform: translateX(0);
  }
}

/* ------------------------------------------------ */

.btn:hover {
  border: 2px solid black;
  color: black;
  background-color: white;
}

.socials {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.socials i {
  height: 20px;
  width: 20px;
}
.items a {
  color: white;
  text-decoration: none;
  border-bottom: 3px transparent solid;
  padding-bottom: 0 0.5 rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
}
.items a:hover {
  background-color: rgba(230, 229, 247, 0.25);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: white;
}

/* Responsiveness Media Queries */

@media screen and (max-width: 1200px) and (min-width: 762px) {
  .header_contents {
    margin-top: 20%;
  }
  .otherWords h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .header_contents {
    margin-top: 10%;
  }
  .otherWords h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .header_contents {
    margin-top: 40%;
  }
  .otherWords h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .header_contents {
    margin-top: 65%;
  }
  .otherWords h1 {
    font-size: 30px;
  }
  .otherWords p {
    font-size: 1rem;
  }
  .socials i{
    font-size: 2rem;
  }
}
@media screen and (max-width: 345px){
  .socials i{
    font-size: 1rem !important;
    
  }
}


/* sidebar starts */

.side_bar a {
  color: white;
}

.side_bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  color: black;
  background-color: rgba(0, 0, 0, 0.188);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu_hamburger {
  display: none;
}

/* navbar items on mobile responsive */

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu_hamburger {
    display: block;
  }
}

/* navbar items on mobile responsive full screen */

@media (max-width: 500px) {
  .side_bar {
    width: 100%;
  }
}
.SF {
  /* border-radius: 8px; */
  font-size: 30px;
  padding: 5px;
  background-color: rgba(87, 12, 124, 0.606);
  font-family: "Dancing Script", cursive;
}

/* ------------------------------ */
/* My info section */

.container2 {
  font-family: "Dosis", sans-serif;
  max-width: 80%;
  height: 100%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: auto;
}

.aboutInfo {
  color: white;
  height: 100vh;
  background-color: rgba(22, 11, 11, 0.954);
}
.infos h1 {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 50px;
}

.leftSide img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}
.leftSide {
  margin-left: 10%;
}
.intro {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightSide {
  width: 40%;
}
.rightSide h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.rightSide p {
  font-size: 25px;
}

@media (max-width: 780px) {
  .intro {
    text-align: center;
    flex-direction: column;
  }
  .rightSide h2 {
    font-size: 2rem;
  }
  .rightSide p {
    font-size: 15px;
    width: 100%;
  }
  .leftSide {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .intro {
    text-align: center;
    flex-direction: column;
  }
  .rightSide h2 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .rightSide {
    width: 50%;
  }
}

/* transition for about img and P tag  */

.leftSide img {
  animation: slideIn 1s ease forwards;
}

.rightSide p {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ----------------------------------------------- */

/* up button css */

#upButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 28px;
  background-color: #fb252570;
  color: white;
  border: 2px solid black;
  padding: 16px;
  border-radius: 10%;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
}

#upButton:hover {
  background-color: #555;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

/* -------------------------------- */

/* footer starts here  */

.footClass p {
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding: 20px;
  text-align: center;
}
.footClass {
  background-color: black;
}

/* ------------------------------ */
